tags
TAGS
*.o
*.a
*.exe
.*.swp
*~
*.log
*.chk
*.out
*.rwf
*.mat
*.mod
test1
test2
test3
fort.7
lapack/librefblas.a
lapack/make.inc
examples/biorthog/biorthog
.other_libs/build_fcns/Makefile.in*
.other_libs/build_fcns/configure*
depcomp
install-sh
missing
test-driver
