tags
TAGS
*.o
*.a
*.exe
.*.swp
*~
*.log
*.chk
*.out
*.rwf
*.mat
*.mod
test1
test2
test3
fort.7
lapack/librefblas.a
lapack/make.inc
examples/biorthog/biorthog
.other_libs/build_fcns/Makefile.in*
.other_libs/build_fcns/configure_*
depcomp
install-sh
missing
test-driver
*.trs
*.dSYM
Makefile
outfile
.dirstamp
examples/tools/test1129/test1129.dat
.deps
configure
.other_libs/BLAS/blas.err
.other_libs/BLAS/default
.other_libs/LAPACK/default
.other_libs/LAPACK/lapack.err
.other_libs/build_fcns/default
.other_libs/build_fcns/default_COMPILER
.other_libs/build_fcns/default_GauOpen
.other_libs/build_fcns/tmp
.other_libs/gauopen/default
.other_libs/gaussian/default_scratch
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.status
configure
configure.ac
examples/CreateDataList/1
examples/CreateDataList/CheckInput
examples/DataSummary/DataSummary
examples/DataSummary/test1129/
examples/DataSummary/test1132/
examples/PrintAllData/DataPrint
examples/PrintAllData/OUTPUT/out_runGau
examples/SCFenergy/SCFenergy
examples/WriteTest/Copy
examples/WriteTest/Original
examples/WriteTest/ReadWrite
examples/algebra2/algebra_fun
examples/fullci/fullci
examples/hartreefock/hartreefock
examples/diishf/diishf
examples/tools/FullWavefunctionRW
src/#
src/GauOpen/
src/am--include-marker
Makefile.am
examples/Build_Tests/Makefile.am
examples/CreateDataList/testit.sh
examples/DataSummary/testit.sh
examples/PrintAllData/testit.sh
examples/SCFenergy/testit.sh
examples/WriteTest/testit.sh
examples/hartreefock/Makefile.am
examples/DataSummary/test/
doc/
!doc/Doxygen
!doc/ABOUT_Algebra2.md
!doc/mqcpack_logo.png
